.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.movie-poster {
  flex: 0 0 30%;
}

.poster-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.movie-details {
  flex: 0 0 65%;
  padding-left: 20px;
  color:#955151 !important ;
}

.episode-list {
  margin-top: 20px;
}

.episode-card {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.episode-thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.episode-details {
  margin-top: 10px;
  padding: 10px;
  color: #955151;
  background-color: #ccc;
  opacity: 0.8;
  text-align: center;
}
.brand_episode{
  background-color: bisque; 
  font-style: italic;
  color: rgb(23, 151, 87);
  padding: 5px 0;
}
.quality_episode{
    color: #fff;
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 0; */
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    margin: 0;
    background: #408BEA;
        font-style: italic;
}