<div class="container">
    <h3>
        Tìm kiếm phim:
        <span style="font-style: italic; color: #ff6f61">{{ searchTerm }}</span>
    </h3>

    <!-- Ô nhập tìm kiếm -->
    <!-- <input type="text" pInputText placeholder="Tìm kiếm tên phim" (keyup.enter)="onSearch($event)" [(ngModel)]="searchTerm" class="w-32 sm:w-auto mb-3" /> -->

    <!-- <button (click)="search()" class="btn btn-primary">Tìm kiếm</button> -->

    <!-- Hiển thị skeleton loader nếu đang tải -->
    <div *ngIf="isLoading">
        <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
        <p>Đang tìm kiếm ...</p>
    </div>

    <!-- movie.component.html -->
    <div *ngIf="!isLoading && pagedMovies.length === 0" class="no-movies-found">
        <i class="pi pi-search"></i>
        <!-- Thêm biểu tượng tìm kiếm -->
        <p>Không tìm thấy phim nào với từ khóa:</p>
        <span class="search-term">"{{ searchTerm }}"</span>
        <!-- Hiển thị từ khóa tìm kiếm -->
    </div>

    <!-- movie.component.html -->
    <div *ngIf="!isLoading && pagedMovies.length > 0">
        <div class="movie-grid">
            <div class="movie-card" *ngFor="let movie of pagedMovies">
                <img [src]="filteredMovies.data.APP_DOMAIN_CDN_IMAGE + '/' + movie.poster_url" [alt]="movie.name" />
                <div class="movie-content">
                    <p [routerLink]="['/moviesView', movie.slug]" style="cursor: pointer">{{ movie.name }}</p>
                    <div class="subcontent">
                        <div class="left-subcontent">
                            <p>Năm phát hành: {{ movie.year }}</p>
                            <p>Thời lượng: {{ movie.time }}</p>
                            <p>Episode_current: {{ movie.episode_current }}</p>
                        </div>
                        <div class="right-subcontent">
                            <p>Quality: {{ movie.quality }}</p>
                            <p>Lang: {{ movie.lang }}</p>
                            <p>
                                <!-- <p-skeleton shape="circle" size="2rem" *ngIf="!movie"></p-skeleton> -->
                                <p-button *ngIf="movie" severity="danger" [outlined]="true" (onClick)="handleLike($event, pagedMovies.indexOf(movie), movie)">
                                    <i *ngIf="!isStatusLike[pagedMovies.indexOf(movie)]" class="pi pi-heart"></i>
                                    <i *ngIf="isStatusLike[pagedMovies.indexOf(movie)]" class="pi pi-heart-fill"></i>
                                </p-button>

                                <!-- <p-button *ngIf="movie" icon="pi pi-shopping-cart" styleClass="ml-2"></p-button> -->
                            </p>
                        </div>
                    </div>
                    <div>
                        <p>Category:</p>
                        <div class="category-container">
                            <p *ngFor="let cat of movie.category" class="category-badge">{{ cat.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <p-paginator
            [rows]="rows"
            [totalRecords]="filteredMovies.data.items.length || 0"
            [rowsPerPageOptions]="[5, 10, 20]"
            (onPageChange)="paginate($event)"
            currentPageReportTemplate="Trang {currentPage} / {totalPages}"
            pageLinkSize="10"
            [showPageLinks]="true"
            [showFirstLastIcon]="true"
            [showCurrentPageReport]="true"
        ></p-paginator>

        <!-- Thông báo không có kết quả -->
    </div>
</div>
