<div class="block bg-primary text-center m-1 p-2 border-round mb-1">
    <div class="p-fluid">
        <!-- <h2>User Management</h2> -->
        <!-- <div class="p-field">
        <label for="search">Search</label>
        <input id="search" [(ngModel)]="searchQuery" pInputText />
    </div> -->

        <p-table
            [value]="users"
            dataKey="id"
            styleClass="p-datatable-striped"
            [tableStyle]="{ 'min-width': '20rem' }"
            [paginator]="true"
            [rows]="5"
            stripedRows
            [rowsPerPageOptions]="[5, 10, 20]"
            [globalFilterFields]="['first_name', 'last_name', 'email', 'role']"
            (onEditComplete)="onEditComplete($event)"
            [scrollable]="true"
            currentPageReportTemplate="Trang {currentPage} / {totalPages}"
            pageLinkSize="10"
            [showPageLinks]="true"
            [showFirstLastIcon]="true"
            [showCurrentPageReport]="true"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>id</th>
                    <th>avatar</th>
                    <th>first_name</th>
                    <th>last_name</th>
                    <th>email</th>
                    <th>gender</th>
                    <th>address</th>
                    <th style="position: sticky; right: 0; z-index: 1000; background: #ffffff82">Action</th>
                </tr>
                <tr>
                    <th>
                        <!-- <p-columnFilter type="text" field="id" placeholder="Search Id" ariaLabel="Filter Id" /> -->
                    </th>
                    <th></th>
                    <th>
                        <p-columnFilter type="text" field="first_name" ariaLabel="Filter first_name" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="last_name" ariaLabel="Filter last_name" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="email" ariaLabel="Filter email" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="gender" ariaLabel="Filter gender" />
                    </th>
                    <th>
                        <p-columnFilter type="text" field="address" ariaLabel="Filter address" />
                    </th>
                    <th style="position: sticky; right: 0; z-index: 1000; background: #ffffff82">
                        <p-button size="small" label="" severity="info" (click)="showDialog()"><i class="pi pi-plus"></i></p-button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing">
                <tr>
                    <td>{{ product?.id }}</td>
                    <td><img [src]="product?.avatar" width="50" class="shadow-4" /></td>

                    <td [pEditableColumn]="product.first_name" pEditableColumnField="first_name">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.first_name" (ngModelChange)="onRowEdit(product)" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product?.first_name }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="product.last_name" pEditableColumnField="last_name">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.last_name" (ngModelChange)="onRowEdit(product)" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product?.last_name }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="product.email" pEditableColumnField="email">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.email" (ngModelChange)="onRowEdit(product)" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product?.email }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="product.gender" pEditableColumnField="gender">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.gender" (ngModelChange)="onRowEdit(product)" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product?.gender }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td [pEditableColumn]="product.address" pEditableColumnField="address">
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.address" (ngModelChange)="onRowEdit(product)" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product?.address }}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td style="position: sticky; right: 0; z-index: 1000; background: #ffffff82">
                        <p-button *ngIf="product.isRowEdited" label="" severity="info" (click)="onChangeDataUser(product)" size="small"><i class="pi pi-save"></i></p-button>
                        <p-button label="" severity="secondary" (click)="viewDetailInPage(product)" size="small"><i class="pi pi-eye"></i></p-button>
                        <p-button label="" (click)="viewDetail(product)" size="small"><i class="pi pi-pen-to-square"></i></p-button>
                        <p-button size="small" label="" severity="danger" (click)="deleteUser($event, product)"><i class="pi pi-trash"></i></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-confirmdialog />

<!-- dialog add new user -->
<p-dialog header="Add Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '50vw' }">
    <span class="p-text-secondary block mb-12">Your information.</span>
    <div class="grid">
        <div class="col-12">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="formgrid grid">
                    <div class="field col-4">
                        <label for="id">ID</label>
                        <input
                            pInputText
                            formControlName="id"
                            id="id"
                            type="number"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        />
                    </div>
                    <div class="field col-4">
                        <label for="firstname">Firstname</label>
                        <input
                            pInputText
                            formControlName="first_name"
                            id="first_name"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        />
                    </div>
                    <div class="field col-4">
                        <label for="last_name">Last name</label>
                        <input
                            pInputText
                            formControlName="last_name"
                            id="last_name"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        />
                    </div>

                    <div class="field col-9">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            pInputText
                            formControlName="email"
                            id="email"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        />
                    </div>
                    <div class="field col-3">
                        <label for="gender">Gender</label>
                        <select
                            formControlName="gender"
                            placeholder="Select Gender"
                            id="gender"
                            class="w-full text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round outline-none focus:border-primary"
                            style="appearance: auto"
                        >
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <!-- <div class="field col-6">
                        <label for="ip_address">Ip address</label>
                        <input
                            pInputText
                            formControlName="ip_address"
                            id="ip_address"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        />
                    </div> -->
                    <div class="field col-6">
                        <label for="role">Role</label>
                        <input
                            pInputText
                            formControlName="role"
                            id="role"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        />
                    </div>
                    <div class="field col-6">
                        <label for="address">Address</label>
                        <input
                            pInputText
                            formControlName="address"
                            id="address"
                            type="text"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        />
                    </div>
                    <!-- <div class="field col-9">
                        <label for="avatar">Avatar</label>
                        <textarea
                            pInputText
                            formControlName="avatar"
                            id="avatar"
                            type="text"
                            rows="8"
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        ></textarea>
                    </div> -->
                    <!-- <div class="field col-3">
                        <label for="status">Avatar</label>
                        <p-image [src]="userForm.get('avatar')?.value" [previewImageSrc]="userForm.get('avatar')?.value" alt="Image" width="200" [preview]="true" />
                    </div> -->

                    <!-- <i class="pi pi-upload"></i> -->
                    <div class="field col-12">
                        <p-fileUpload formControlName="avatar" chooseIcon="pi pi-upload" name="file" accept="image/*" mode="basic" (onSelect)="onFileSelected($event)" chooseLabel="Choose">
                            ></p-fileUpload
                        >
                        <!-- Hiển thị ảnh sau khi upload -->
                        <div *ngIf="imageSrc">
                            <img [src]="imageSrc" alt="Uploaded Image" class="uploaded-image" />
                        </div>
                    </div>

                    <!-- <div class="col-12">
                        <div class="grid">
                            <div class="col-12">
                                <button type="submit" label="Save" [disabled]="userForm.invalid" pButton class="btn bg-primary text-white border-round w-full"></button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </form>
        </div>
    </div>
    <div class="flex justify-content-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" [disabled]="userForm.invalid" (click)="addUser()" />
    </div>
</p-dialog>

<!-- <app-dialog-form-user [visible]="visible" (onHide)="visible = $event"></app-dialog-form-user> -->
<app-dialog-form-user [visibleChild]="visibleDialog" [dataUserFromParent]="dataUser" (dialogClosed)="onDialogClosed()"></app-dialog-form-user>
