<div class="p-fluid">
    <h2>User Management</h2>
    <!-- <div class="p-field">
        <label for="search">Search</label>
        <input id="search" [(ngModel)]="searchQuery" pInputText />
    </div> -->

    <p-table
        [value]="users"
        dataKey="id"
        styleClass="p-datatable-striped "
        [tableStyle]="{ 'min-width': '50rem' }"
        [paginator]="true"
        [rows]="5"
        [rowsPerPageOptions]="[5, 10, 20]"
        [globalFilterFields]="['first_name', 'last_name', 'email', 'role']"
        (onEditComplete)="onEditComplete($event)"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>id</th>
                <th>avatar</th>
                <th>first_name</th>
                <th>last_name</th>
                <th>email</th>
                <th>gender</th>
                <th>ip_address</th>
                <th>role</th>
                <th>address</th>
                <th>Action</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="id" placeholder="Search Id" ariaLabel="Filter Id" />
                </th>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="first_name" ariaLabel="Filter first_name" />
                </th>
                <th>
                    <p-columnFilter type="text" field="last_name" ariaLabel="Filter last_name" />
                </th>
                <th>
                    <p-columnFilter type="text" field="email" ariaLabel="Filter email" />
                </th>
                <th>
                    <p-columnFilter type="text" field="gender" ariaLabel="Filter gender" />
                </th>
                <th>
                    <p-columnFilter type="text" field="ip_address" ariaLabel="Filter ip_address" />
                </th>
                <th>
                    <p-columnFilter type="text" field="role" ariaLabel="Filter role" />
                </th>
                <th>
                    <p-columnFilter type="text" field="address" ariaLabel="Filter address" />
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-editing="editing">
            <tr>
                <td>{{ product?.id }}</td>
                <td><img [src]="product?.avatar" width="50" class="shadow-4" /></td>
                <!-- <td>{{ product?.first_name }}</td> -->
                <td [pEditableColumn]="product.first_name" pEditableColumnField="first_name">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.first_name" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product?.first_name }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="product.last_name" pEditableColumnField="last_name">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.last_name" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product?.last_name }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="product.email" pEditableColumnField="email">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.email" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product?.email }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td [pEditableColumn]="product.gender" pEditableColumnField="gender">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.gender" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product?.gender }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>{{ product.ip_address }}</td>
                <td>{{ product.role }}</td>
                <td [pEditableColumn]="product.address" pEditableColumnField="address">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="product.address" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ product?.address }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>Xem</td>
            </tr>
        </ng-template>
    </p-table>
</div>
