<!-- <div class="container overflow-hidden"> -->
<div class="card">
    <p-menubar [model]="!isMobile ? items : items3">
        <!-- <ng-template pTemplate="end"> -->
        <div class="flex items-center gap-2">
            <!-- <i class="pi pi-bars" style="font-size: x-large; align-content: center" (click)="toggle($event)"></i> -->
            <p-popover #popoverMenu>
                <div class="flex flex-col gap-4">
                    <ul class="list-none p-0 m-0 flex flex-column">
                        <li *ngFor="let item of items" class="flex items-center gap-2 hover:bg-emphasis cursor-pointer rounded-border">
                            <a *ngIf="isEnable" [routerLink]="item.routerLink" pRipple class="flex items-center align-content-center p-menubar-item-link">
                                <span [class]="item.icon"></span>
                                <span class="ml-2">{{ item.label }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </p-popover>
            <!-- <p-button (onClick)="toggleDarkMode()"><i class="pi pi-sun" style="color: 'var(--primary-color)'"></i></p-button> -->
            <!-- <input *ngIf="!isMobile" type="text" pInputText placeholder="Tìm kiếm phim" size="small" (keyup.enter)="onSearch($event)" class="" /> -->
            <!-- <p-inputgroup *ngIf="!isMobile"> -->
            <p-inputgroup>
                <input id="searchTerm" #searchTermInput type="text" pInputText (keyup.enter)="onSearch($event)" placeholder="Tìm phim" size="small" />
                <p-button type="button" icon="pi pi-search" severity="warn" (click)="onSearch2($event)" />
            </p-inputgroup>
            <!-- <p-button label="Login" [routerLink]="['/login']" *ngIf="!isLoggedIn"></p-button> -->

            <i class="pi pi-bell ringing" *ngIf="isRinging; else notRinging" style="font-size: x-large; align-content: center" (click)="op.toggle($event)"></i>
            <ng-template #notRinging>
                <i class="pi pi-bell" style="font-size: x-large; align-content: center" (click)="op.toggle($event)"></i>
            </ng-template>
            <p-popover #op>
                <div *ngFor="let notification of notifications" class="notification-item">
                    <div
                        style="
                            padding: 10px;
                            border-bottom: 1px solid #ccc;
                            max-height: 3em;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                        "
                    >
                        <i class="pi pi-info-circle"></i> {{ notification.message }}
                    </div>
                </div>
                <div class="cursor-pointer" style="text-align: right; padding-top: 5px">
                    <a (click)="viewAllNotifications()">Xem tất cả</a>
                </div>
            </p-popover>
            <!-- <p-button label="Logout    " (click)="onLogout()" *ngIf="isLoggedIn"></p-button> -->
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />
        </div>
        <!-- </ng-template> -->
    </p-menubar>
</div>

<!-- </div> -->
