.notification-item {
  max-height: 3em;
  /* Giới hạn chiều cao tương đương với 2 dòng */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Hiển thị tối đa 2 dòng */
  line-clamp: 2;
  /* Hiển thị tối đa 2 dòng */
  -webkit-box-orient: vertical;
}

.ringing {
  animation: shake 0.5s;
  /* Thay đổi thời gian nếu cần */
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  25% {
    transform: translate(-2px, 0);
  }

  50% {
    transform: translate(2px, 0);
  }

  75% {
    transform: translate(-2px, 0);
  }

  100% {
    transform: translate(0);
  }
}

@media screen and (max-width: 768px) {}