<div class="container">
    <h1>
        <span style="color: #955151">PHIM ĐÃ LƯU</span>
    </h1>
    <!-- Hiển thị skeleton loader nếu đang tải -->
    <div *ngIf="isLoading" class="skeleton-loader">
        <p>Đang lấy thông tin ...</p>
    </div>

    <!-- movie.component.html -->
    <div *ngIf="!isLoading && listMovies.length === 0" class="no-movies-found">
        <i class="pi pi-search"></i>
        <!-- Thêm biểu tượng tìm kiếm -->
        <p>Không có bộ phim nào được lưu</p>
        <!-- Hiển thị từ khóa tìm kiếm -->
    </div>

    <!-- movie.component.html -->
    <div *ngIf="!isLoading && listMovies.length > 0">
        <div class="movie-card" *ngFor="let movie of listMovies" [routerLink]="['/moviesView', movie.slug]">
            <img [src]="movie.poster_url" [alt]="movie.name" />
            <div class="movie-content">
                <h2 style="cursor: pointer">{{ movie.name }}</h2>
                <div class="subcontent">
                    <div class="left-subcontent">
                        <h4>Năm phát hành: {{ movie.year }}</h4>
                        <h4>
                            Thời lượng:
                            <span style="color: rgb(23, 151, 87); background-color: bisque; padding: 5px; font-style: italic">{{ movie.time || "Đang cập nhật" }}</span>
                        </h4>
                        <h4>
                            Tập hiện tại: <span style="color: rgb(23, 151, 87); background-color: bisque; padding: 5px; font-style: italic">{{ movie.episode_current || "Đang cập nhật" }}</span>
                        </h4>
                    </div>
                    <div class="right-subcontent">
                        <h4>Chất lượng phim: {{ movie.quality || "FHD" }}</h4>
                        <h4>Ngôn ngữ: {{ movie.lang || "Vietsub" }}</h4>
                    </div>
                </div>
                <div *ngIf="movie.category">
                    <h4>Thể loại:</h4>
                    <div class="category-container">
                        <span *ngFor="let cat of movie.category" class="category-badge">{{ cat.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thông báo không có kết quả -->
        <p-paginator
            [rows]="rows"
            [totalRecords]="listMovies.length || 0"
            [rowsPerPageOptions]="[5, 10, 20, 50]"
            [first]="first"
            [showPageLinks]="true"
            [showFirstLastIcon]="false"
            [showCurrentPageReport]="true"
            (onPageChange)="paginate($event)"
            currentPageReportTemplate="{first} - {last} of {totalRecords}"
        ></p-paginator>
    </div>
</div>
