<div class="intro-container">
    <h1>Welcome to User Management System</h1>
    <p>This application helps you manage users efficiently and effectively.</p>
    <div class="features">
        <h2>Features</h2>
        <ul>
            <li>User Registration</li>
            <li>Role Management</li>
            <li>User Profiles</li>
            <li>Data Analytics</li>
            <li>Secure Authentication</li>
        </ul>
    </div>
</div>
<!-- test locale vietnamese datapicker -->
<div class="grid mt-5">
    <div class="col-12 col-offset-5">
        <h2>Test locale vietnamese</h2>
        <p-datepicker [(ngModel)]="date" />
    </div>
</div>
